<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile page</title>
</head>
<body>
    <%- include('common/header'); %>
    <h1>Welcome <%= user.Name %></h1>
    <h3>Email: <%= user.Email %></h3>
    <h3>City: <%= user.City %></h3>
    <ul>
        <h3>skills:</h3>
        <% user.skills.forEach((item)=>{%>
            <li><%= item %></li>
        <%})%>
    </ul>
</body>
</html>